<nav class="navbar navbar-expand-lg navbar-dark bg-blood">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.Params.header.logo.url }}">
            {{ $logo_alt := .Site.Params.header.logo.alt }}
            {{ $logo_src := .Site.Params.header.logo.src }}
            {{ $logo_height := .Site.Params.header.logo.height }}
            {{ $logo := resources.Get $logo_src }}
            <img alt="{{ $logo_alt }}" src="{{ $logo.RelPermalink }}" height="{{ $logo_height }}" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{ range .Site.Menus.header }}
                {{ $active := eq $.RelPermalink (.URL | relLangURL) }}
                {{ $active = or $active (eq $.Section (lower .Name)) }}
                <li class="nav-item">
                    {{ $text := print .Name | safeHTML }}
                    <a class="nav-link fs-5 {{ if $active }}active{{ end }}" href="{{ .URL }}">{{ $text }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>